:root{
    --azul: #4d64fd;
    --azulOscuro:rgb(27, 91, 173);
    --naranja: orange;
    --naranjaclaro:#df8703 ;
    --blanco: #fff;
    --negro: #000;
    --fuentePrincipal: 'Staatliches', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /*rem = 10px =1rem*/
  }

*, *:before, *:after {
    box-sizing: inherit;
}

/* GLOBALES*/

body {
    background-color: var(--azul);
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.principal{
    max-width: 120rem;
    margin: 0 auto;
}


h1, h2, h3{
    text-align: center;
    color: var(--naranja);
    font-family: var(--fuentePrincipal);
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}

/** Header **/

.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 0.5rem 0;
}

/** Navegador **/
.navegador{
display: flex;
justify-content: space-evenly;
background-color: var(--azulOscuro);
padding: 1rem 0;
}

.navegador__enlaces{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
}

.navegador__enlaces--activo,
.navegador__enlaces:hover{
    color: var(--naranja);
}


.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
    
}

/** Productos **/
.producto{
    background-color: var(--azulOscuro);
    padding: 2rem;
}

.producto__imagen{
    width: 100%;
}

.producto__informacion{

}

.producto__nombre{

}

.producto__precio{

}


/** Footer **/
.footer{
    background-color: var(--azulOscuro);
    padding: 1rem 5rem;
    margin-top: 2rem;
}

.footer__texto{
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2.2rem;
    color: var(--blanco);
}